{% extends "base.html" %}

{% block content %}

<h1>Add API KEY</h1>

    <form action="" method="post"novalidate>
        {{ form.hidden_tag() }}
        <p>
        {{ form.secret_key.label }}<br>
        {{ form.secret_key(size=32) }}<br>
        {% for error in form.secret_key.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
        {{ form.public_key.label }}<br>
        {{ form.public_key(size=32) }}<br>
        {% for error in form.public_key.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}